:root {
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --pale-blue: rgb(221, 219, 255);
  --grayish-blue: rgb(132, 135, 148);
  --dark-blue: rgb(29, 44, 103);
  --very-dark-blue: rgb(12, 18, 44);
  --font-size: 14px;
  --font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 87%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.container__files {
  background-color: rgb(187, 187, 173);
  align-self: flex-end;
  height: 60%;
  margin-bottom: .4rem;
  border-radius: 10px;
  border-top-right-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 2.5rem 2.65rem;
}

.container__files-logo {
  width: 100%;
}

.container__files-document {
  background: darkblue;
  padding: .85rem;
  border-radius: 10px;
  height: 40%;
  margin-right: 1rem;
}

.container__files-folder {
  background: darkblue;
  padding: 1rem .8rem;
  border-radius: 10px;
  height: 40%;
  margin-right: .9rem;
}

.container__files-upload {
  background: darkblue;
  padding: 1.1rem .8rem;
  border-radius: 10px;
  height: 40%;
  margin-right: .8rem;
}

/* .container__files-icon svg { width: 100; height: 100%;} */

.container__storage {
  background-color: red;
  height: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: .7rem;
  border-radius: 10px;
  padding: 2rem;
}

.container__storage-paragraph {
  width: 90%;
  font-size: .9rem;
  font-family: var(--font-family);
}

.container__storage-bar {
  width: 100%;
  height: 20%;
  border-radius: 10px;
  background-color: darkkhaki;
}

.container__storage-min,
.container__storage-max {
  font-size: .8rem;
}

.container__storage-card {
  display: flex;
  justify-content: center;
  position: relative;
  top: 3.5rem;
  right: 2.5rem;
  width: 69%;
  height: 78%;
  background-color: chartreuse;
  border-radius: 10px;
  font-size: 2rem;
}

.container__storage-card-paragraph {
  display: flex;
  align-items: baseline;
  font-family: var(--font-family);
  font-size: .85rem;
  font-weight: 700;
}

.container__storage-card-paragraph--strong {
  font-size: 2.5rem;
  padding-right: .5rem;
}