:root {
  --pale-blue: rgb(221, 219, 255);
  --grayish-blue: rgb(132, 135, 148);
  --dark-blue: rgb(29, 44, 103);
  --very-dark-blue: rgb(12, 18, 44);
  --font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 86.8%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container__files {
  padding: 2.5rem 2.6rem;
  margin-bottom: .4rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-self: flex-end;
  height: 60%;
  border-radius: 10px;
  border-top-right-radius: 100px;
  background-color: var(--dark-blue);
}

.container__files-logo {
  width: 100%;
}

.container__files-icons {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.8%;
  height: 40%;
  border-radius: 10px;
  background: var(--very-dark-blue);
}

.container__storage {
  padding: 2rem 1.9rem 2rem 1.9rem;
  margin-top: .7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 48%;
  border-radius: 10px;
  background-color: var(--dark-blue);
  color: white;
  font-family: var(--font-family);
}

.container__storage-paragraph {
  font-size: 1.44rem;
}

.container__storage-paragraph--strong {
  font-weight: 700;
}

.container__storage-bar {
  width: 99%;
  height: 20.5%;
  border-radius: 10px;
  background-color: #14204A;
  margin-top: 1.1rem;
  display: flex;
  align-items: center;
}

.container__storage-bar-progress {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: .2rem;
  width: 73%;
  height: 70%;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(255, 163, 153, 1) 0%, rgba(255, 77, 151, 1) 100%);
}

.container__storage-bar-progress--circle {
  margin-right: .1rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.container__storage-value {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: .65rem;
}

.container__storage-value-min,
.container__storage-value-max {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: var(--font-family);
}

.container__storage-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3.5rem;
  right: 2.5rem;
  width: 69%;
  height: 78%;
  background-color: chartreuse;
  border-radius: 10px;
  font-size: 2rem;
}

.container__storage-card-paragraph {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 1.36rem;
  font-weight: 700;
}

.container__storage-card-paragraph--strong {
  font-size: 4rem;
  padding-right: .5rem;
}