.container {
  grid-template-rows: 100%;
  grid-template-columns: .8fr 1fr;
  background-color: var(--very-dark-blue);
  background-image: url(../images/bg-desktop.png);
  background-position: bottom;
  background-size: contain;
}

.container__files {
  margin-bottom: 2rem;
  margin-right: 3rem;
  justify-self: flex-end;
  align-self: center;
  width: 55%;
  height: 25%;
}

.container__files-icons {
  margin-right: 1.75rem;
  width: 17.5%;
  height: 39.5%;
}

.container__storage {
  padding: 4.2rem 3rem 1rem 3.7rem;
  margin-top: 2.6rem;
  display: block;
  justify-self: flex-start;
  align-self: center;
  height: 19.5%;
  width: 67.7%;
}

.container__storage-paragraph { width: 100%; }

.container__storage-bar { width: 97.5%; height: 19%; margin-top: 1.8rem; }

.container__storage-bar-progress { margin-left: .5rem; }

.container__storage-bar-progress--circle {
  margin-right: .25rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.container__storage-value { width: 97.6%; margin-top: 1rem; }

.container__storage-card {
  display: flex;
  top: -16rem;
  left: 19.7vw;
  width: 38%;
  height: 69%;
}

.container__storage-card-paragraph { padding-right: 2.5rem; }

.arrow-left {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 64%;
  left: 9.7vw;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 22px solid white;
  }